/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat";
  background-color: #FFF5E1;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

.container {
  max-width: 327px;
  margin-inline: auto;
  padding-top: 30px;
}

.container-inner h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  margin-bottom: 20px;
}

.productsList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

form{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.searchInput {
  background-color: rgb(250, 236, 238);
  border-style: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  width: 327px;
  margin-bottom: 20px;
  border: 1px solid #C80036;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.searchInput:focus {
  border-color: #ffb3b3;
  outline: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  list-style: none;
  border-radius: 30px;
  padding: 20px;
  background-color: #ffb3b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card img {
  width: 100%;
  display: block;
  border-radius: 30px;
  background-color: rgb(252, 208, 214);
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.product-card p {
  color: #0C1844;
  font-size: 15px;
  font-weight: 700;
  line-height: 28px;
}

.product-card h4 {
  background-color: lightsalmon;
  padding: 7px 10px;
  border-radius: 8px;
}

.flashing-title {
  font-size: 36px;
  text-align: center;
  color: #C80036;
  animation: flash 1.5s infinite;
}

.product-tags {
  list-style: none;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.product-tags li {
  background-color: lightsalmon;
  padding: 5px;
  border-radius: 8px;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (width >= 768px) {

  .container {
    max-width: 689px;
  }

  .productsList {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .searchInput {
    width: 689px;
  }
}

@media (width >= 1280px) {

  .container {
    max-width: 1110px;
  }

  .productsList {
    grid-template-columns: repeat(auto-fill, 250px);
  }

  .searchInput {
    width: 736px;
  }
}